.sejarah-page section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

.sejarah-page section .outer,
.sejarah-page section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.sejarah-page section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

.sejarah-page section .bg h2 {
  z-index: 2;
}

.sejarah-page section .bg .clip-text {
  overflow: hidden;
}

.sejarah-page .first .bg {
  background: linear-gradient(
    180deg,
    rgba(18, 21, 30, 1) 0%,
    rgba(18, 21, 30, 1) 60%,
    rgba(7, 8, 12, 0.9) 90%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.sejarah-page .second .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/1.png');
}
.sejarah-page .third .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/2.png');
}
.sejarah-page .fourth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/3.png');
}
.sejarah-page .fifth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/4.png');
  background-position: 50% 45%;
}

.sejarah-page .sixth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/5.png');
  background-position: 50% 45%;
}

.sejarah-page .seventh .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/6.png');
  background-position: 50% 45%;
}

.sejarah-page .eighth .bg {
  background-image:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.596) 100%
    ),
    url('/assets/images/background/7.png');
  background-position: 50% 45%;
}

.sejarah-page .ninth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/8.png');
  background-position: 50% 45%;
}

.sejarah-page .tenth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/9.png');
  background-position: 50% 45%;
}

.sejarah-page .eleventh .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/10.png');
  background-position: 50% 45%;
}

.sejarah-page .twelfth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/11.png');
  background-position: 50% 45%;
}

.sejarah-page .thirteenth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/12.png');
  background-position: 50% 45%;
}

.sejarah-page .fourteenth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/13.png');
  background-position: 50% 45%;
}

.sejarah-page .fifteenth .bg {
  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('/assets/images/background/14.png');
  background-position: 50% 45%;
}

.sejarah-page .sixteenth .bg {
  background-image:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.596) 100%
    ),
    url('/assets/images/background/15.png');
  background-position: 50% 45%;
}

.sejarah-page .arrowCta {
  display: block;
  height: 20px;
  width: 20px;
  border: 11px solid transparent;
  transform: rotate(45deg);
  position: relative;
  margin: 20px auto;
}

.sejarah-page .arrowCta:after,
.sejarah-page .arrowCta:before {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.sejarah-page .arrowCta:after {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.sejarah-page .arrowCta:before {
  top: 0;
  left: 0;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  animation: top-arrow 1.65s infinite;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }
  35% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}